html {
    scroll-behavior: smooth;
}

body {
    color: black;
    margin: 0;
}



/***** BOUTON SCROLL ****/


.btn {
    height: 50px;
    width: 50px;
    background: #5e7bab;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 2;
    opacity: 0.8;
}

.icone {
    width: 25px;
    color: white;
}


/***** HEADER ****/

.nav-toggler {
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 20px;
    height: 50px;
    width: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(142, 142, 142);
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
    ;
}

.l1 {
    transform: translateY(-10px);
}

.l3 {
    transform: translateY(10px);
}

.nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2 {
    opacity: 0;
}

.nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
}

header nav {
    position: fixed;
    width: 50%;
    min-height: 100%;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #0f1e50;
    text-decoration: none;
    border-bottom: 1px solid #cfcfcf;
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    z-index: 2;

    ul {
        padding: 20px;
        margin-top: 40px;
    }
}

nav.active {
    transform: translate(0);
}

header nav a {
    font-family: "satoshi", sans-serif;
    color: #f1f1f1;
    font-size: 22px;
    display: block;
    margin: 33px 0 0 -30px;
    text-decoration: none;
    list-style-type: none;
}

header nav li {
    list-style-type: none;
    gap: 10px;

}

@media screen and (min-width: 768px) {
    .nav-toggler {
        display: none;
    }

    .line {
        display: none;
    }

    header nav {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        text-decoration: none;
        transform: none;
        transition: none;

        ul {
            padding-left: 212px;
            margin-top: -29px;
            margin-bottom: 12px;
            display: flex;
            flex-direction: row;
            gap: 90px;

            li {
                list-style-type: none;

                a {
                    font-size: 1.3em;
                    font-weight: 600;
                    transition: all 0.3s ease;
                }

                a:hover {
                    color: #b8dafb;
                    transform: scale(1.05);
                    transition: all 0.3s ease;
                }

                .fa-brands {
                    display: none;
                }
            }
        }
    }

    nav.active {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    header nav a {
        font-size: 1px;
    }
}

/***** PRESENTATION ****/


#presentation {
    background-color: white;
    font-family: 'Teko', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    h1 {
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 92%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4em;
        font-weight: 200;
        text-align: center;
        margin: 0;
        transform: translateX(-400px);
        opacity: 0;
        animation: apparition 1s ease-out forwards;
        scroll-behavior: smooth;
        transition: all 2s ease;
    }

    h2 {
        font-family: "roboto", sans-serif;
        font-weight: 400;
        text-align: center;
        padding: 0 20px;
        font-size: 1.7em;
        transform: translateX(400px);
        opacity: 0;
        transition: 10s;
        animation: apparition 1.3s ease-out forwards;
        scroll-behavior: smooth;
    }

    a {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #presentation {
        background-image: none;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 5em;
        }

        h2 {
            font-size: 1.5em;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "roboto", sans-serif;
            border: none;
            color: white;
            width: 190px;
            padding: 0.9em 1.2em;
            font-size: 1.2em;
            border-radius: 0.5em;
            background: #0f1e50;
            margin: auto;
            margin-top: 50px;
            text-decoration: none;
            transition: all 0.5s ease;
            animation: slideBottom 1.7s ease-out forwards;
            scroll-behavior: smooth;

            &:hover {
                background-color: #cbe5ff;
                color: #0f1e50;
            }
        }
    }
}


/***** WAVE ****/

.wave-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.img-wave-1 {
    width: 100%;
    object-fit: cover;
    color: #e7f3fd;
}

.img-wave-3 {
    width: 100%;
    object-fit: cover;
    margin-top: -120px;
}

.wave {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -1px;
}

.wave-container-two {
    position: relative;
    width: 100%;
    height: auto;
    line-height: 0;
    z-index: 1;
}

.wave-container-three {
    position: relative;
    width: 100%;
    height: auto;
    line-height: 0;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .img-wave-1 {
        margin-top: 34px;
        width: 100%;
        height: 152px;
    }

    .img-wave-3 {
        margin-top: -160px;
        height: 70px;
    }
}

@media screen and (min-width: 1024px) {
    .img-wave-3 {
        margin-top: -256px;
        height: 112px;
    }
}


/***** A PROPOS ****/


#a-propos {
    background: #e7f3fd;
    font-family: 'satoshi', serif;

    section {
        display: flex;
        flex-direction: column;
    }

    h2 {
        color: rgb(38, 55, 112);
        font-family: "teko";
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: 400;
        font-size: 2.5em;
        margin: 0;
        margin-bottom: 30px;
        margin-top: -10px;
    }

    img {
        width: 250px;
        border-radius: 8%;
        display: flex;
        margin: auto;
        margin-bottom: 30px;
        right: 500px;
    }

    p {
        font-family: "roboto", sans-serif;
        margin: 20px 0 60px;
        font-size: 1.2em;
        padding: 20px;
    }
}

@media screen and (min-width: 768px) {
    #a-propos {
        section {
            margin-bottom: 0;
            align-items: center;
        }

        img {
            width: 300px;
            margin: 0;
            padding: 20px;
        }

        h2 {
            font-size: 2.8em;
            margin-top: -72px;
            z-index: 1;
            position: relative;
        }

        p {
            width: 70%;
            margin-bottom: 55px;
            padding: 30px;
            font-size: 1.6em;
            text-align: justify;
        }
    }
}

@media screen and (min-width: 1024px) {
    #a-propos {
        section {
            flex-direction: row;
            margin-bottom: 0;
            align-items: center;
            justify-content: center;
            padding-left: 300px;
            margin: auto;
            padding-bottom: 20px;

            p {
                width: 60%;
                font-size: 1.4em;
            }

            img {
                right: 700px;
                opacity: 0;
                position: relative;
            }
        }
    }
}

/***** SKILLS ****/

#skills {
    background: url(./images/fond-ecran-bleu-titre-fond-ecran-bleu_483537-4469.webp);
    background-size: cover;
    padding-top: 0;
    padding-bottom: 70px;
    position: relative;

    h2 {
        font-family: "teko";
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: 400;
        font-size: 2.5em;
        color: #e7f3fd;
        padding-bottom: 20px;
        padding-top: 45px;
        margin-top: 0;
        transform: translateY(-110px);
    }
}

#skills .section-title {
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    color: rgb(215, 215, 255);
    margin: 20px 0;
    opacity: 0;
    transform: translateX(100px);
    color: #fff;
    position: relative;
}

#skills .more-title {
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    color: rgb(215, 215, 255);
    margin: 20px 0;
    opacity: 0;
    transform: translateX(-100px);
    color: #fff;
    position: relative;
}

.sectionFront {
    background-color: #cbe5ff;
    width: 70%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 16px;
    position: relative;
    opacity: 0;
    transform: translateX(-400px);

    img {
        width: 40px;
        height: 40px;
        transition: all 0.3s ease;

        &:hover {
            content: "HTML5 - Langage de balisage";
            transform: scale(1.1);
        }
    }
}

.sectionMore {
    background-color: #cbe5ff;
    width: 70%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 16px;
    position: relative;
    opacity: 0;
    transform: translateX(400px);
}

.sectionMore img {
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;

    &:hover {
        content: "HTML5 - Langage de balisage";
        transform: scale(1.1);
    }
}

.skill-name {
    display: block;
    justify-content: center;
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    text-align: center;
    color: black;
}

@media screen and (min-width: 768px) {
    #skills {
        padding-bottom: 100px;
    }

    .sectionFront {
        gap: 53px;
    }

    #skills h2 {
        font-size: 2.5em;
    }

    #skills h3 {
        font-size: 1.3em;
    }

    #skills div img {
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width: 1024px) {
    #skills {
        padding-bottom: 150px;
        z-index: 0;
    }

    #skills h2 {
        font-size: 2.8em;
        padding-top: 65px;
    }

    .sectionFront,
    .sectionMore {
        gap: 80px
    }
}


/* **** CONTACT ***


#contact {
    background-size: cover;
    padding-top: 15px;
    margin-bottom: 60px;
}

#contact h2 {
    font-family: "teko";
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 2.5em;
    color: #263770;
}

#contact .divTwoContact {
    border: 2px solid #263770;
}

#contact div {
    background: #263770;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    opacity: 0.8;
}

#contact form {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    font-family: "roboto", sans-serif;
    font-size: 1em;
    padding: 25px;
    margin-bottom: 30px;
}

#contact form label {
    margin-bottom: 10px;
    margin-top: 20px;
}

#contact form input {
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    padding-left: 10px;
}

#contact form textarea {
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 100px;
}

#contact form button {
    font-family: "roboto", sans-serif;
    border: none;
    color: white;
    width: 90px;
    padding: 0.7em 1.7em;
    font-size: 13px;
    border-radius: 0.5em;
    background: #5e7bab;
    display: block;
    margin: auto;
    margin-top: 20px;

    &:hover {
        transition: all 0.3s ease;
        transform: scale(1);
        background: rgb(133, 145, 187);
    }
}

@media screen and (min-width: 768px) {
    #contact form {
        width: 400px;
    }

    #contact div {
        width: 450px;
    }

    #contact h2 {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 1024px) {
    #contact h2 {
        font-size: 2.8em;
    }
} */



/***** FOOTER ****/



footer {
    background-color: #0f1e50;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2.2em;
    padding: 0;
}

footer li {
    list-style-type: none;
}

footer a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    color: #d5e7f9;
    font-size: 1em;
    margin-bottom: 10px;
    font-family: "roboto", sans-serif;

    &:hover {
        transition: all 0.3s ease;
        transform: scale(1.1);
        color: #a4d1fe;
    }
}

footer p {
    color: #b8dafb;
    text-align: center;
    font-size: 1em;
    font-family: "satoshi", sans-serif;
}

@media screen and (min-width: 768px) {
    footer {
        height: 250px;
    }

    footer p {
        font-size: 1.3em;
    }
}


@keyframes apparition {
    100% {
        opacity: 100%;
        transform: none;
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(160px);
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* L'élément revient à sa position initiale */
    }
}