/* MODAL */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0; /* Par défaut, invisible */
    visibility: hidden; /* Empêche l'interaction */
    z-index: 2;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Ajout de la transition */
}

.overlay.modal-open {
    opacity: 1; /* Visible */
    visibility: visible; /* Activé */
}

.modal {
    position: fixed;
    background: linear-gradient(#CED6FB, #ECEFFE);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%); /* Position initiale légèrement en haut */
    width: 80%;
    height: 400px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    z-index: 3;
    font-family: "roboto", sans-serif;
    opacity: 0; /* Par défaut, invisible */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Ajout de la transition */
}

.modal.modal-open {
    opacity: 1; /* Visible */
    transform: translate(-50%, -50%); /* Position correcte */
}

.modal h3 {
    text-align: center;
    margin-bottom: 20px;
}

.modal .modal-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal p {
    padding-left: 22px;
}

.modal li {
    padding-bottom: 5px;
}

.modal h4 {
    margin-bottom: 15px;
}

.modal .modal-objectives {
    display: flex;
    flex-direction: column;
    padding-left: 22px;
}


.modal-open {
    display: block;
    transition: all 0.5s;
    /* fonctionne pas */

}

.close-modal-btn {
    position: absolute;
    top: 3%;
    right: 2%;
    cursor: pointer;
    background: #CED6FB;
    border: none;
    transition: all 0.5s ease-in-out;
}

.close-modal-btn svg {
    width: 20px;
    height: 20px;
}

.close-modal-btn:hover {
    transform: rotate(360deg);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 60%;

        .modal-objectives {
            padding-left: 40px;
        }

        p {
            padding-left: 40px;
        }
    }

}

@media screen and (min-width: 1024px) {
    .modal {
        width: 40%;
    }

    .modal-header {
        padding: 0 15px
    }

    .modal p {
        position: relative;
    }

    .modal-objectives {
        position: relative;
    }
}




/********** PORTFOLIO ************/


#portfolio {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(#ECEFFE, #CED6FB);
    font-family: 'Teko', sans-serif;
    padding-bottom: 20px;

    h2 {
        font-family: "teko";
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: 400;
        font-size: 2.5em;
        color: rgb(38, 55, 112);
        margin: -8px;
        margin-bottom: 20px;
    }
}

.swiper {
    margin-bottom: 15px;
}

ul {
    margin: 0;
    padding: 0;
}

.card-wrapper {
    margin: 0 40px 35px;
    padding: 20px 37px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: #879efb;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #5372F0;
    padding: 8px 16px;
    font-size: 0.9em;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title {
    font-size: 1em;
    color: #666565;
    font-weight: 400;
    font-family: "roboto", sans-serif;
}

.card-list .card-link button.material-symbols-rounded {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    border: 2px solid #5372F0;
    color: #5372F0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover button.material-symbols-rounded {
    color: #fff;
    background: #5372F0;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #5372F0;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slider-button {
    color: #5372F0;
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 -15px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }

    .card-list .card-link .card-title {
        font-size: 1em;
    }

    .badge {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 768px) {
    #portfolio h2 {
        font-size: 2.8em;
    }
}

@media screen and (min-width: 1024px) {
    .card-list .card-link .card-title {
        font-size: 1.3em;
    }

    .card-list .card-link .badge {
        font-size: 1.2em;
    }
}