body {
    background-color: rgb(203, 203, 251);
    color: black;
    margin: 0;
}

h2 {
    font-family: 'khand', serif;
}

/***** HEADER ****/

h1 {
    text-align: start;
    font-size: 2em;
    text-align: center;
    font-family: 'Tanker', sans-serif;
    font-weight: 900
}

.header-nav {
    display: flex;
    flex-direction: row;
    font-family: 'Tanker', sans-serif;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

li {
    list-style-type: none;

    a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: black;
        font-size: 1.2em;
    }
}

/***** A PROPOS ****/

#a-propos {
    background-color: white;
    padding: 20px;
    font-family: 'khand', serif;

    section {
        display: flex;
        flex-direction: column;
    }

    h2 {
        border-bottom: 3px solid rgb(203, 203, 251);
        width: 145px;
    }

    img {
        width: 250px;
        border-radius: 3%;
        display: flex;
        margin: 30px auto;
    }

    p {
        margin: 20px 0 0 30px;
        font-size: 1.2em;
    }
}

/***** PORTFOLIO ****/

#portfolio {
    padding: 20px;
    font-family: 'khand', serif;

    img {
        width: 300px;
        height: auto;
    }
}

h2 {
    display: inline;
    font-size: 2em;
    border-bottom: 3px solid white;
}

/***** CARD ****/

.sectionCard {
	flex: 1;
	margin: 8px;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-top: 40px;

    article {
        width: 300px;
        height: 350px;
        padding: 20px;
        background: #fff;
        border: 6px solid #000;
        box-shadow: 12px 12px 0 #000;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
            transform: translate(-5px, -5px);
            box-shadow: 17px 17px 0 #000;
        }
    }

    h2 {
        font-size: 1.5em;
        margin-top: 0;
        width: 100%;
    }

    article img {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        max-height: 200px;
        min-height: 200px;
    }

    article p {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}
